{% extends "layout.html" %}
{% block content %}

<h5 class="font-weight-bold text-white mb-5"
    style="display: inline-block">Auslöser auswählen</h5>

<h6 class="font-weight-bold text-white">{{ spell.name }}, {{ container }}</h6>
{% for trigger in ['Befehl', 'Berührung', 'Zeitauslöser']%}
<a href="{{ url_for('createPrepSelectForce', spell_id=spell.id, container=container, trigger=trigger, _external=true) }}"
   class="btn btn-lg prep-btn btn-block btn-light">{{ trigger }}</a>
{% endfor %}
{% endblock content %}
