{% extends "layout.html" %}
{% block content %}

<a href="{{ url_for('createPrepSelectForce',
                    spell_id=spell_id,
                    container=container,
                    trigger=trigger,
                    _external=true) }}"
   class="btn prep-btn btn-lg btn-light mb-5 font-weight-bold">Zurück</a>
<h1 class="font-weight-bold text-white ml-5"
    style="display: inline-block">Wirksamkeit auswählen</h1>

<h2 class="font-weight-bold text-white">{{ spell.name }}, {{ container }}, {{ trigger }}, {{ force }}</h2>

<h2 class="mt-5 font-weight-bold text-white">Erfolge bei Spruchwirkung</h2>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
{% for n in range(force|int + 1) %}
{% set spellcasting = n %}
<label class="btn btn-lg prep-btn btn-light">
  <input type="radio" name="spellcasting" id="option{{n}}" value="{{n}}">
  {{ spellcasting }}
  </input>
</label>
{% endfor %}
</div>

<h2 class="mt-5 font-weight-bold text-white">Erfolge bei Objetwiderstand</h2>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
{% for n in range(force|int + 1) %}
{% set spellcasting = n %}
<label class="btn btn-lg prep-btn btn-light">
  <input type="radio" name="resistance" id="option{{n}}" value="{{n}}">
  {{ spellcasting }}
  </input>
</label>
{% endfor %}
</div>

<div style="display: none;" class="mt-5 text-white h1" id="spell">{{ spell.id }}</div>
<div style="display: none;" class="mt-5 text-white h1" id="container">{{ container }}</div>
<div style="display: none;" class="mt-5 text-white h1" id="trigger">{{ trigger }}</div>
<div style="display: none;" class="mt-5 text-white h1" id="force">{{ force }}</div>
<div style="display: none;" class="mt-5 text-white h1" id="success">0</div>
<div style="display: none;" class="mb-5 text-white h1" id="resistance">0</div>

<a id="potency"
   class="mt-5 btn btn-lg prep-btn btn-block btn-light">0</a>
{% endblock content %}
