{% extends "layout.html" %}
{% block content %}
<h5 class="font-weight-bold text-white mb-5" style="display: block">Entzug widerstehen</h5>

<h6 class="font-weight-bold text-white">{{ spell.name }}, {{ container }}, {{ trigger }}, {{ force }}, {{ potency }}</h6>

<h5 class="text-white">Entzug: {{ force + spell.drain }}</<h5></h5>>

<a href="{{ url_for('createPrepCreate',
                     spell_id=spell_id,
                     container=container,
                     trigger=trigger,
                     force=force,
                     potency=potency,
                     _external=true) }}"
   class="btn prep-btn btn-lg btn-light font-weight-bold mt-5">Herstellen</a>

{% endblock content %}
