{% extends "layout.html" %}
{% block content %}
<h1 class="font-weight-bold text-white mb-5" style="display: block">Entzug widerstehen</h1>

<h2 class="font-weight-bold text-white">{{ spell.name }}, {{ container }}, {{ trigger }}, {{ force }}, {{ potency }}</h2>

<h1 class="text-white">Entzug: {{ force + spell.drain }}</<h1></h1>>

<a href="{{ url_for('createPrepCreate',
                     spell_id=spell_id,
                     container=container,
                     trigger=trigger,
                     force=force,
                     potency=potency,
                     _external=true) }}"
   class="btn prep-btn btn-lg btn-light font-weight-bold mt-5">Herstellen</a>

{% endblock content %}
