html, body {
  background-color: #3d3d3d;
  padding: 0;
  margin: 0;
  font-family: verdana;
}
.bg-red {
  color: #FFF;
  background: #a64444;
}

.card-active {
  color: #853c00;
  background: #f4d370;
}

.content {
  margin-top: 7vh;
  padding: 20px 60px 20px 60px;
  display: block;
}

.nav-item a {
  font-size: 30px;
}

.nav-btn,
.prep-btn {
  font-size: 30px;
  padding: 30px 30px;
}

.table {
  text-align: center;
}

.card {
  margin-bottom: 15px !important;
  min-width: 25rem;
  max-width: 25rem;
  */
}

.card-header {
  font-size: 24px;
  font-weight: bold;
}

.card .btn {
}

.saMenueOverlay,
.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  transition-property: all;
  transition-duration: 1s;
  z-index: 20;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

.overlay-card {
  margin-top: 170px;
  display: inline-block;
}

.overlay .card-header {
  font-size: 30px;
}

.overlay .card {
  min-width: 800px;
  max-width: 800px;
}

.overlay .btn {
  padding: 40px 40px;
}

.force-table td {
  vertical-align: middle;
  font-size: 24px;
}

.force-table .btn {
  min-width: 100px;
}

/* saMenue */

.saMenue {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -500px;
  z-index: 30;
  transition-property: left;
  transition-duration: 0.5s;
  color: #989898;
  background: #FFF;
}

.saMenue ul {
  padding: 0;
  list-style: none;
}
.saMenue li {
  padding: 20px 40px 20px 20px;
  font-size: 2vh;
}

.saMenue li:hover {
  background: #f1f1f1;
  cursor: pointer;
}

.saMenue a {
  color: #989898;
  text-decoration: none;
}

.overlay a.btn {
  font-size: 2vmax;
}
/* saNav */
.saNav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  font-size: 2vh;
  color: #FFF;
  padding: 1.5vh 40px;
  background: #000;
  border-bottom: 5px solid #4d4d4d;
}

.saNavTitle {
  flex-basis: content;
  /*
  background: #F00;
  */
}

.saNavButtons {
  flex-basis: content;
  /*
  background: #FF0;
  */
}

.saNav .saButton {
  color: #FFF;
  font-size: 3vh;
}

a.saButton:hover {
  color: #fffb96;
  text-decoration: none;
  cursor: pointer;
}

a.saButton:active {
  color: #fff500;
  text-decoration: none;
  cursor: pointer;
}

/* saChar */

.saFlex {
  display: flex;
  flex-wrap: wrap-reverse;
}

.saStats {
  flex-grow: 4;
  flex-shrink: 2;
  flex-basis: 50vh;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  color: #FFF;
  font-size: 2vh;
}

.saStats > div {
  padding: 10px 20px;
  flex-grow: 1;
}

.saStats > div > div:first-child {
  text-align: center;
  font-weight: bold;
  min-width: 20vh;
}

.saStats > div > div:nth-child(n+2) {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #8efadf;
  background: #77cfb9;
  color: #000;
  font-weight: bold;
  border-radius: 10px;
  transition-property: color background-color;
  transition-duration: 0.5s;
  min-width: 20vh;
}

.saStats > div > div:nth-child(n+2):nth-child(even) {
  border: 2px solid #77cfb9;
  background: #8efadf;
}

.saStats > div > div:nth-child(n+2):hover {
  color: #8efadf;
  border: 2px solid #77cfb9;
  background: none;
  cursor: pointer;
}

.saStats > div > div:nth-child(n+2):nth-child(even):hover {
  color: #77cfb9;
  border: 2px solid #8efadf;
  background: none;
  cursor: pointer;
}

.saStats > div > div > div:first-child {
  margin-right: 20px;
}

.saStatsImage {
  text-align: center;
  flex-grow: 1;
}

.saStatsImage img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 10px;
  }

#saLast {
  color: #FFF;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background: none;
}
