{% extends "layout.html" %}
{% block content %}

<div>

  <!--
  <div style="text-align: center;"><h2 class="text-white mb-3">{{ char.name }}</h2></div>
  -->

  <div class="sticky-top" style="z-index: 6;">
    <table class="table table-light saTableStats" style="font-size: 0.8em;border-bottom: 1px solid #3d3d3d">
      <thead class="thead-dark">
        <tr>
          <th class="text-warning">K</th>
          <th class="text-warning">G</th>
          <th class="text-warning">R</th>
          <th class="text-warning">S</th>
          <th class="text-info">C</th>
          <th class="text-info">I</th>
          <th class="text-info">L</th>
          <th class="text-info">W</th>
          <th class="text-warning">ED</th>
          <th class="text-warning">M</th>
          <th class="text-warning">ES</th>
          <th class="text-info">LiK</th>
          <th class="text-info">LiG</th>
          <th class="text-info">LiS</th>
        </tr>
      <tbody>
        <tr>
          <td class="table-active">{{ char.body }}</td>
          <td class="table-active">{{ char.agility }}</td>
          <td class="table-active">{{ char.reaction }}</td>
          <td class="table-active">{{ char.strength }}</td>
          <td style="border-left: 1px solid #000">{{ char.charisma }}</td>
          <td>{{ char.intuition }}</td>
          <td>{{ char.logic }}</td>
          <td>{{ char.willpower }}</td>
          <td class="table-active" style="border-left: 1px solid #000">{{ char.edge }}</td>
          <td class="table-active">{{ char.magic }}</td>
          <td class="table-active">{{ char.essence }}</td>
          <td style="border-left: 1px solid #000">9</td>
          <td>9</td>
          <td>9</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="saFlex">

    <div style="flex-grow: 1; display: flex; flex-wrap: wrap">
      <div style="flex-grow: 2;">
        <table class="table table-striped table-hover table-light" style="font-size: 0.8em">
          <thead class="thead-dark">
            <tr>
              <th colspan="5">Fertigkeiten</th>
            </tr>
            <tr>
              <th>Fertigkeit</th>
              <th>At</th>
              <th>Sp</th>
              <th>St</th>
              <th>D.</th>
            </tr>
          </thead>
          <tr>
            <td>Alchemie</td>
            <td>M</td>
            <td><a class="badge badge-secondary text-white">Berührung</a></td>
            <td>8</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Herbeirufen</td>
            <td>M</td>
            <td>-</td>
            <td>6</td>
            <td>13</td>
          </tr>
          <tr>
            <td>Spruchzauberei</td>
            <td>M</td>
            <td>-</td>
            <td>6</td>
            <td>13</td>
          </tr>
          <tr>
            <td>Arkana</td>
            <td>L</td>
            <td>-</td>
            <td>5</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Chemie</td>
            <td>L</td>
            <td>-</td>
            <td>4</td>
            <td>7</td>
          </tr>
          <tr>
            <td>Wahrnehmung</td>
            <td>I</td>
            <td>-</td>
            <td>4</td>
            <td>7</td>
          </tr>
          <tr>
            <td>Überreden</td>
            <td>C</td>
            <td>-</td>
            <td>2</td>
            <td>9</td>
          </tr>
        </table>
      </div>
      <div style="flex-grow: 2">
        <table class="table table-hover table-striped table-light" style="font-size: 0.8em">
          <thead class="thead-dark">
            <tr>
              <th colspan="5">Fertigkeiten</th>
            </tr>
            <tr>
              <th>Fertigkeit</th>
              <th>At</th>
              <th>Sp</th>
              <th>St</th>
              <th>Di</th>
            </tr>
          </thead>
          <tr>
            <td>Askennen</td>
            <td>I</td>
            <td><a class="badge badge-secondary text-white">Berührung</a></td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Bodenfahrzeuge</td>
            <td>R</td>
            <td>-</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Erste Hilfe</td>
            <td>L</td>
            <td>-</td>
            <td>1</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Klingenwaffen</td>
            <td>G</td>
            <td>-</td>
            <td>1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Pistolen</td>
            <td>G</td>
            <td>-</td>
            <td>1</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Ritualzauberei</td>
            <td>M</td>
            <td>-</td>
            <td>1</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Verkleiden</td>
            <td>I</td>
            <td>-</td>
            <td>1</td>
            <td>4</td>
          </tr>
        </table>
      </div>

       <!--
     <div>
       <table class="table table-hover table-striped table-light text-dark">
         <thead class="thead-dark">
           <tr>
             <th colspan="2">Körperliche Attribute</th>
           </tr>
         </thead>
         <tbody style="text-align: left">
           <tr>
             <td>Konsitutution</td>
             <td>{{ char.body }}</td>
           </tr>
           <tr>
             <td>Geschicklichkeit</td>
             <td>{{ char.agility }}</td>
           </tr>
           <tr>
             <td>Reaktion</td>
             <td>{{ char.reaction }}</td>
           </tr>
           <tr>
             <td>Stärke</td>
             <td>{{ char.strength }}</td>
           </tr>
         </tbody>
       </table>
      </div>
     <div>
       <table class="table table-hover table-striped table-light text-dark">
         <thead class="thead-dark">
           <tr>
             <th colspan="2">Geistige Attribute</th>
           </tr>
         </thead>
         <tbody style="text-align: left">
           <tr>
             <td>Charisma</td>
             <td>{{ char.charisma }}</td>
           </tr>
           <tr>
             <td>Intuition</td>
             <td>{{ char.intuition }}</td>
           </tr>
           <tr>
             <td>Logik</td>
             <td>{{ char.logic }}</td>
           </tr>
           <tr>
             <td>Willenskraft</td>
             <td>{{ char.willpower }}</td>
           </tr>
         </tbody>
       </table>
      </div>
      <div>
       <table class="table table-hover table-striped table-light text-dark">
         <thead class="thead-dark">
           <tr>
             <th colspan="2">Limits</th>
           </tr>
         </thead>
         <tbody style="text-align: left">
           <tr>
             <td>Physisch</td>
             <td>{{ (((char.strength * 2) + char.body + char.reaction) / 3)|round(0, 'ceil')|int }}</td>
           </tr>
           <tr>
             <td>Geistig</td>
             <td>{{ (((char.logic * 2) + char.intuition + char.willpower) / 3)|round(0, 'ceil')|int }}</td>
           </tr>
           <tr>
             <td>Sozial</td>
             <td>{{ (((char.charisma * 2) + char.willpower + char.essence) / 3)|round(0,'ceil')|int }}</td>
           </tr>
         </tbody>
       </table>
      </div>
     <div>
       <table class="table table-hover table-striped table-light text-dark">
         <thead class="thead-dark">
           <tr>
             <th colspan="2">Spezial Attribute</th>
           </tr>
         </thead>
         <tbody style="text-align: left">
           <tr>
             <td>Edge</td>
             <td>{{ char.edge }}</td>
           </tr>
           <tr>
             <td>Aktuelles Edge</td>
             <td>{{ char.currentEdge }}</td>
           </tr>
           <tr>
             <td>Essenz</td>
             <td>{{ char.essence }}</td>
           </tr>
           <tr>
             <td>Magie</td>
             <td>{{ char.magic }}</td>
           </tr>
         </tbody>
       </table>
      </div>
     <div>
       <table class="table table-hover table-striped table-light text-dark">
         <thead class="thead-dark">
           <tr>
             <th colspan="2">Initiative</th>
           </tr>
         </thead>
         <tbody style="text-align: left">
           <tr>
             <td>Initiative</td>
             <td>6 + 1w6</td>
           </tr>
           <tr>
             <td>Astr. Initiative</td>
             <td>6 + 3w6</td>
           </tr>
           <tr>
             <td>Matrix Initi. AR</td>
             <td>6 + 1w6</td>
           </tr>
           <tr>
             <td>Matrix Initi. Kalt</td>
             <td>3 + DV + 3w6</td>
           </tr>
           <tr>
             <td>Matrix Initi. Heiß</td>
             <td>3 + DV + 4w6</td>
           </tr>
         </tbody>
       </table>
      </div>
    </div>
    <div class="saStatsImage"><img src="{{ url_for('static', filename='morris.PNG', _external=true) }}" /></div>

  </div>
      -->
  </div>

{% endblock content %}
