{% extends "grid.html" %}
{% block content %}

  {% for attribute in char.attributes %}
    <div class="text-white">{{ attribute.name }}</div>
    <div class="text-white">{{ attribute.level[0] }}</div>
  {% endfor %}
  <div class="sticky-top" style="z-index: 6;">
    <table class="table table-light saTableStats" style="font-size: 0.8em;border-bottom: 1px solid #3d3d3d; text-align: center;">
      <thead class="thead-dark">
        <tr>
          <th class="text-warning">K</th>
          <th class="text-warning">G</th>
          <th class="text-warning">R</th>
          <th class="text-warning">S</th>
          <th class="text-info">C</th>
          <th class="text-info">I</th>
          <th class="text-info">L</th>
          <th class="text-info">W</th>
          <th class="text-warning">ED</th>
          <th class="text-warning">M</th>
          <th class="text-warning">ES</th>
          <th class="text-info">LiK</th>
          <th class="text-info">LiG</th>
          <th class="text-info">LiS</th>
        </tr>
      <tbody>
        <tr>
          <td class="table-active">{{ char.body }}</td>
          <td class="table-active">{{ char.agility }}</td>
          <td class="table-active">{{ char.reaction }}</td>
          <td class="table-active">{{ char.strength }}</td>
          <td style="border-left: 1px solid #000">{{ char.charisma }}</td>
          <td>{{ char.intuition }}</td>
          <td>{{ char.logic }}</td>
          <td>{{ char.willpower }}</td>
          <td class="table-active" style="border-left: 1px solid #000">{{ char.currentEdge }}/{{ char.edge }}</td>
          <td class="table-active">{{ char.magic }}</td>
          <td class="table-active">{{ char.essence }}</td>
          <td style="border-left: 1px solid #000">9</td>
          <td>9</td>
          <td>9</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="display: flex; flex-wrap: wrap">
  {% for skill in char.skills %}
    {% if loop.index == ((char.skills|length)/2)|round(0,"ceil")|int +1  %}
      </table>
    </div>
    {% endif %}
    {% if loop.index == 1 or loop.index == ((char.skills|length)/2)|round(0,"ceil")|int +1 %}
    <div style="flex-grow: 2;">
      <table class="table table-striped table-hover table-light" style="font-size: 0.8em">
        <thead class="thead-dark">
          <tr>
            <th>Fertigkeit</th>
            <th>At</th>
            <th>Sp</th>
            <th>St</th>
            <th>D.</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}
          <tr>
            <td>{{ skill.name }}</td>
            <td>{{ skill.attribute.0|upper }}</td>
            <td>
              {%- for specialization in skill.specializations %}
                <a class="badge badge-secondary text-white">{{ specialization.name }} </a>
              {%- endfor %}
            </td>
            <td>{{ skill.level }}</td>
            <td>{{ skill.level + char[skill.attribute] }}</td>
          </tr>
      {% if loop.index == char.skills|length %}
      {% if (char.skills|length)/2 != ((char.skills|length)/2)|int %}
        <tr>
          <td colspan=5>-</td>
        </tr>
      {% endif %}
        </tbody>
      </table>
    </div>
    {% endif %}
  {%- endfor %}
  </div>

  <div class="saFlex">
    <div class="" style="flex-grow: 1">
      <table class="table table-striped table-light" style="font-size: 0.8em;">
        <thead class="thead-dark">
          <tr>
            <th colspan="2">Initiative</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Normal</th>
            <td>6 + 1w6</td>
          </tr>
          <tr>
            <th>Astral</th>
            <td>6 + 6w6</td>
          </tr>
          <tr>
            <th>AR</th>
            <td>6 + 6w6</td>
          </tr>
          <tr>
            <th>VR Kalt</th>
            <td>6 + 6w6</td>
          </tr>
          <tr>
            <th>VR Heiß</th>
            <td>6 + 6w6</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% include "characterDamage-grid.html" %}
  </div>

{% endblock content %}
