<div class="saDamageTrack">
  <div class="saDamageTrackTitle"">Physischer Schaden ({{ charPhys }})</div>
  <div class="saDamageTrackBody">
    {% for n in range(charPhys) %}
    <div class="saDamageTrackBox">
      {% if char.physDamage >= n + 1 %}
        {% set display = 'block' %}
      {% else %}
        {% set display = 'none'  %}
      {% endif %}
      <i id="physical{{ n + 1 }}" class="fas fa-times" style="display: {{ display }}"></i>
    </div>
    {% endfor %}
    {% for n in range(char.body) %}
    <div class="saDamageTrackBox saDamageTrackBoxOverflow">
      {% if char.physDamage >= charPhys +  n + 1 %}
        {% set display = 'block' %}
      {% else %}
        {% set display = 'none'  %}
      {% endif %}
      <i id="physical{{ charPhys + n + 1 }}" class="fas fa-times" style="display: {{ display }}"></i>
    </div>
  {% endfor %}
  <div class="saDamageTrackBox saDamageTrackBoxDead">
      {% if char.physDamage >= charPhys +  char.body + 1 %}
        {% set display = 'block' %}
      {% else %}
        {% set display = 'none'  %}
      {% endif %}
      <i id="physical{{ charPhys + char.body + 1 }}" class="fas fa-times" style="display: {{ display }}"></i>
  </div>
  </div>
  <div class="saDamageTrackButtons">
    <a id="physDown" class="btn btn-sm btn-primary">-1</a>
    <a id="physUp" class="btn btn-sm btn-primary">+1</a>
  </div>
</div>

<div class="saDamageTrack">
  <div class="saDamageTrackTitle">Geistiger Schaden ({{ charStun }})</div>
  <div class="saDamageTrackBody">
  {% for n in range(charStun) %}
    <div class="saDamageTrackBox bg-light text-dark">
      {% if char.stunDamage >= n + 1 %}
        {% set display = 'block' %}
      {% else %}
        {% set display = 'none'  %}
      {% endif %}
      <i id="stun{{ n + 1 }}" class="fas fa-times" style="display: {{ display }}"></i>
    </div>
  {% endfor %}
  </div>
  <div class="saDamageTrackButtons">
    <a id="stunDown" class="btn btn-sm btn-primary">-1</a>
    <a id="stunUp" class="btn btn-sm btn-primary">+1</a>
  </div>
</div>
